.dot-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.dot-grid__wrap {
    width: 100%;
    height: 100%;
}

.dot-grid__canvas {
    display: block;
    width: 100%;
    height: 100%;
}